fastapi
uvicorn[standard]
openai
llama-index
llama-index-vector-stores-chroma
llama-index-readers-web
llama-index-readers-file
chromadb>=0.5
python-dotenv
llama-index-embeddings-fastembed
fastembed
prometheus-client
redis
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
